{% extends 'base.html.twig' %}

{% block title %}Delete project{% endblock %}

{% block h1 %}Delete project{% endblock %}

{% block body %}

<h1>Delete confirmation for {{ project.name }}</h1>

<p>Are you sure that you want to delete the project {{ project.name }}?</p>

{{ form(form) }}

{% endblock %}
