{% extends 'base.html.twig' %}

{% block title %}Project list{% endblock %}

{% block h1 %}Projects{% endblock %}

{% block body %}

    <ul>
    {% for project in projects %}
        <li>
            <a href="{{ path('app_projects_show', { 'project': project.id }) }}">{{ project.name }}</a>
        </li>
    {% endfor %}

    </ul>

{% endblock %}
