{% extends 'base.html.twig' %}

{% block title %}Project list{% endblock %}

{% block h1 %}Projects{% endblock %}

{% block body %}

    {% if projects|length is same as 0 %}
        <p>Still no project registerd.</p>
    {% else %}

        <ul>
        {% for project in projects %}
            <li>
                <a href="{{ path('app_projects_show', { 'project': project.id }) }}">{{ project.name }}{{ project.type == 'Database' ? ' (Database)' : '' }}</a>
            </li>
        {% endfor %}

        </ul>
    {% endif %}

{% endblock %}
