{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Projects</h1>
    <ul>
    {% for project in projects %}
        <li><a href="{{ path('app_projects_show', { 'project': project.id }) }}">{{ project.name }}</a></li>
    {% endfor %}

    </ul>

</div>
{% endblock %}
