{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!
{% endblock %}

{% block body %}

	<div class="wrapper">
		<h1>{{ project.name }}</h1>

		<ul>
			<li>
				<a href="#">Archive only data</a>
			</li>
			<li>
				<a href="#">Archive code and data</a>
			</li>
		</ul>

		<a class="btn btn-primary btn-bottomspace" href="#">Set a path for project</a><br />
		<a href="{{ path( 'app_projects_delete_confirmation', { 'project': project.id }) }}" class="btn btn-danger">Delete{{project.name}}</a>
	</div>
{% endblock %}
