{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ project.name }}</h1>

    <a href="{{ path( 'app_projects_delete_confirmation', { 'project': project.id }) }}" class="btn btn-danger">Delete {{ project.name }}</a>
</div>
{% endblock %}
