{% extends 'base.html.twig' %}

{% block title %}Delete Deployment{% endblock %}

{% block h1 %}Delete Deployment{% endblock %}

{% block body %}

    <p>Are you sure to delete this deployment? This action is undoble!!!</p>

    {{ form(form) }}
    
{% endblock %}
