<h2>Git remote address</h2>
{% if project.gitAddresses|length > 0 %}
	{% for gitAddress in project.gitAddresses %}
		<p>{{ gitAddress.address }} <a href="{{ path('app_project_remove_gitaddress', {'project': project.id, 'gitAddress': gitAddress.id }) }}" class="btn btn-warning">Remove</a></p>
	{% endfor %}
{% else %}
	<p>No git remote address registered to this project.</p>
{% endif %}
<a class="btn btn-primary btn-width" href="{{ path( 'app_project_add_gitaddress', { 'project': project.id } ) }}">
	Register a repository remote address to
	{{ project.name }}
</a><br /><br />
