{% extends 'base.html.twig' %}

{% block title %}Environments{% endblock %}

{% block h1 %}Environment list{% endblock %}

{% block body %}

	{% if environments|length > 0 %}
		<ul>
			{% for environment in environments %}
				<li>
					<a href="{{ path("app_show_environment", {environment: environment.id}) }}">{{ environment.name }}</a>
					<p>Host for projects:</p>
					<ul>
					{% for project in environment.projects %}
						<li><a href="{{ path('app_projects_show', { project: project.id }) }}">{{ project.name }}</a></li>
					{% endfor %}
					</ul>
					<hr />
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Still no environment registered in the platoform</p>
	{% endif %}

{% endblock %}
