{% extends 'base.html.twig' %}

{% block title %}Capture File for Receipt{% endblock %}

{% block h1 %}Capture File for Receipt{% endblock %}

{% block body %}

<p>Capture file for receipt</p>

{{ form(form) }}

{% endblock %}
