{% extends 'base.html.twig' %}

{% block title %}Receipt list{% endblock %}

{% block h1 %}Receipt list{% endblock %}

{% block body %}

<ul>
{% for receipt in receipts %}
    <li><a href="{{ path('app_receipt_show', { receipt: receipt.id }) }}">{{ receipt.receipt }}</a></li>
{% endfor %}
</ul>

{% endblock %}
