{% extends 'base.html.twig' %}

{% block title %}Delete database credential{% endblock %}

{% block h1 %}Delete database credential{% endblock %}

{% block body %}

<h1>Delete confirmation</h1>

<p>Are you sure that you want to delete the database credential?</p>

{{ form(form) }}

{% endblock %}
