{% extends 'base.html.twig' %}

{% block title %}Database Credentials{% endblock %}

{% block h1 %}Create Database Credential{% endblock %}

{% block body %}

    {% if database_credentials|length > 0 %}
        <ul>
            {% for database_credential in database_credentials %}
                <li><a href="{{ path('app_show_database_credentials', { database_credentials: database_credential.id } ) }}">{{ database_credential.credentialsName | default(database_credential.id) }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Still no database credentials registered in the system.
    {% endif %}

{% endblock %}
