{% extends 'base.html.twig' %}

{% block title %}Create Database Credential{% endblock %}

{% block h1 %}Create Database Credential{% endblock %}

{% block body %}

<div class="wrapper">

    {{ form(form) }}

</div>
{% endblock %}
